.contactContainer {
  display: none;
}

@media (min-width: 1281px) {
  .contactContainer {
    padding: 2em 2em 0 2em;
    font-size: 2em;
    line-height: 2em;
    color: black;
    display: block;
    height: 8em;
  }

}
